/* 
This css is for the home page
*/
body {
background-color: #fff;
font-family: arial;
}

/*
p {
 color: #aadecb;
}

h1 {
color: #35a;
font-size: 700%;

}

h6 {
font-size:90px; 
font-family: arial;
}

*/