/* This file is for the register page */

body {
    background-color: #ffffff;
    font-family:  Arial, Helvetica, sans-serif;
}


.register h1 {
    font-size:  24px;
    color: #9bc0c9;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1vh;


}